In [1]:
print("hello world")

hello world

In [3]:
# Reading a CSV File

import csv

filename = "annual-enterprise-survey-2021-financial-year-provisional-csv.csv"
 
# initializing the titles and rows list
fields = []
rows = []
 
with open(filename, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    fields = next(csvreader)
    for row in csvreader:
        rows.append(row)
 
    print("Total no. of rows: %d"%(csvreader.line_num))
 

print('Field names are:' + ', '.join(field for field in fields))
print('\nFirst 5 rows are:\n')
for row in rows[:5]:
    for col in row:
        print("%10s"%col,end=" "),
    print('\n')

Total no. of rows: 41716
Field names are:Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZSIOC, Units, Variable_code, Variable_name, Variable_category, Value, Industry_code_ANZSIC06

First 5 rows are:

      2021    Level 1      99999 All industries Dollars (millions)        H01 Total income Financial performance    757,504 ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)

      2021    Level 1      99999 All industries Dollars (millions)        H04 Sales, government funding, grants and subsidies Financial performance    674,890 ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)

      2021    Level 1      99999 All industries Dollars (millions)        H05 Interest, dividends and donations Financial performance     49,593 ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)

      2021    Level 1      99999 All industries Dollars (millions)        H07 Non-operating income Financial performance     33,020 ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)

      2021    Level 1      99999 All industries Dollars (millions)        H08 Total expenditure Financial performance    654,404 ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)

In [4]:
# Writing to a CSV File

import csv
 
# field names
fields = ['Name', 'Branch', 'Year', 'CGPA']
 
# data rows of csv file
rows = [ ['LN', 'COE', '2', '9.0'],
        ['Sanchit', 'COE', '2', '9.1'],
        ['Aditya', 'IT', '2', '9.3'],
        ['Sagar', 'SE', '1', '9.5'],
        ['Prateek', 'MCE', '3', '7.8'],
        ['Sahil', 'EP', '2', '9.1']]
 
# name of csv file
filename = "university_records.csv"
 
# writing to csv file
with open(filename, 'w') as csvfile:
    # creating a csv writer object
    csvwriter = csv.writer(csvfile)
     
    # writing the fields
    csvwriter.writerow(fields)
     
    # writing the data rows
    csvwriter.writerows(rows)

In [30]:
# Read a CSV file with name, number, street, city, state, pin and create a new file containing state, city,number of houses in the state/city into another CSV file

# Without Pandas

import csv

filename = "example.csv"
fields = []
rows = []
 
with open(filename, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    fields = next(csvreader)
    print("Total no. of rows: %d"%(csvreader.line_num))
    with open('createdAsPerRequest.csv', 'w') as new_file:
      field=['state','city','number']
      csvwriter = csv.writer(new_file)
      for row in csvreader:
        csvwriter.writerow((row[1],row[3],row[4]))
      # csvwriter.writerow(field)
      # csvwriter.writerows(rows)

Total no. of rows: 1
Field names are:name, number, street, city, state, pin

In [38]:
# Read a CSV file with name, number, street, city, state, pin and create a new file containing state, city,number of houses in the state/city into another CSV file

# With Pandas

# import pandas with shortcut 'pd'
import pandas as pd

# read_csv function which is used to read the required CSV file
data = pd.read_csv('example.csv')

# display
print("Original 'input.csv' CSV Data: \n")
print(data)

new_data=data
new_data.pop('name')
new_data.pop('street')
new_data.pop('pin')
# pop function which is used in removing or deleting columns from the CSV files
# data.pop('year')

# display
print("\nCSV Data after deleting the column 'year':\n")
print(new_data)
field=['state','city','number']
df = pd.DataFrame(new_data)
df.to_csv('pandasCreation.csv')

Original 'input.csv' CSV Data:

  name  number      street       city state  pin
0   LN     100  NehruNagar  Ramapuram    TN   89
1   LN     100  NehruNagar  Ramapuram    TN   89
2   LN     100  NehruNagar  Ramapuram    TN   89
3   LN     100  NehruNagar  Ramapuram    TN   89
4   LN     100  NehruNagar  Ramapuram    TN   89

CSV Data after deleting the column 'year':

   number       city state
0     100  Ramapuram    TN
1     100  Ramapuram    TN
2     100  Ramapuram    TN
3     100  Ramapuram    TN
4     100  Ramapuram    TN